body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
   
}
     
.container-1 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.container-2 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.login-form {
    width: 100%;
    display:block;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.child_form {
    background-color: #fff;
}

.header {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 30px;
    color: #3b599b;
}

.form-container {
    margin-top: 50px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}
 
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #3b599b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;
    align-content: center;
}
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;
    align-content: center;
}
button[type="submit"]:hover {
    background-color: #29487f;
}

a {
    color: #3b599b;
    text-decoration: none;
}